.homePublic-section2 {
  width: 100%;
  margin-top: 178px;
  background: var(--secondary-color);

  display: flex;
  justify-content: center;
}

.homePublic-section2 .section2-content {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePublic-section2 .section2-content .themesTitle {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 115px;
}

.homePublic-section2 .section2-content .section2-cards {
  width: 85%;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homePublic-section2 .section2-content .section2-cards .section2-card {
  width: 18vw;
  height: 300px;
  border: 4px solid var(--text-color);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.homePublic-section2 .section2-content .section2-cards .section2-card:hover {
  transform: translateY(-1px);
  filter: drop-shadow(0px 4px 10px rgba(61, 61, 61, 0.24));
}

.homePublic-section2 .section2-content .section2-cards .section2-card .section2-card-image {
  width: 115px;
}

.homePublic-section2 .section2-content .section2-cards .section2-card .section2-card-title {
  margin-top: 5vh;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.InfoSectionWave {
  width: 100%;
  margin-top: -1px;
}



@media (max-width: 1000px) {

  .homePublic-section2 .section2-content .section2-cards {
    width: 85%;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
  }

  .homePublic-section2 .section2-content .section2-cards .section2-card {
    width: 100%;
    height: 250px;
    border: 4px solid var(--text-color);
    border-radius: 15px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  .InfoSectionWave {
    width: 100%;
    margin-top: -2px
  }
}

@media (max-width: 650px) {
  .homePublic-section2 .section2-content .section2-cards {
    width: 85%;
  
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
  }

  .homePublic-section2 .section2-content .section2-cards .section2-card {
    width: 100%;
    height: 250px;
    border: 4px solid var(--text-color);
    border-radius: 15px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  .InfoSectionWave {
    width: 100%;
    margin-top: -2px
  }
}