
.container-user-rank {
  display: grid;
  grid-template-columns: 0.8fr 3.2fr;
  grid-template-areas: 'icon info';

  width: 1148px;
  height: 150px;
  margin: 80px auto;
  padding: 22px;
  border-radius: 12px;  
  color: var(--text-color);

  background: var(--foreground-color);
}

.user-rank-icon {
  grid-area: icon;
  margin-left: 40px;
}

.user-rank-info {
  grid-area: info;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;

}

.user-rank-info strong {
  color: var(--tertiary-color)
}

.user-rank-score {
  text-align: right;
}

.rank-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-color);
}

span.separator-rank {
  width: 934px;
  height: 1px;
  background: var(--text-color);
  margin-top: 60px;

}
