.rankPrivate-userRank {
  width: 100%;
  margin-top: 5vh;

  display: flex;
  justify-content: center;
}

.rankPrivate-userRank .rankPrivate-userRank-content {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;


  padding: 5px 30px;
  border-radius: 15px;

  background: var(--foreground-color);
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-info {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-info .user-rank-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--text-color);
  gap: 5px;
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-info .user-rank-title strong {
  color: var(--tertiary-color)
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-info img {
  height: 80%;
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-points {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-points p {
  color: var(--text-color);
  font-size: 1.13rem;
}

.rankPrivate-userRank .rankPrivate-userRank-content .user-rank-points p strong {
  color: var(--tertiary-color)
}

@media (max-width: 600px) {
  .rankPrivate-userRank .rankPrivate-userRank-content {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .rankPrivate-userRank .rankPrivate-userRank-content {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .rankPrivate-userRank .rankPrivate-userRank-content .user-rank-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .rankPrivate-userRank .rankPrivate-userRank-content .user-rank-info .user-rank-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .rankPrivate-userRank .rankPrivate-userRank-content .user-rank-points {
    width: 100%;
    margin-top: 10px;
  }

  .rankPrivate-userRank .rankPrivate-userRank-content .user-rank-points p {
    color: var(--text-color);
    font-size: 1.13rem;
    text-align: end;
  }
}