.homePrivate-header {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 2vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-line {
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--secondary-color);
}

.homePrivate-header .header-content {
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homePrivate-header .header-content img{
  width: 18vw;
}

.homePrivate-header .header-content .header-links {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.homePrivate-header  .header-content .header-links a button {
  padding: 10px 20px;

  background: var(--primary-color);
  border: none;
  border-radius: 10px;

  color: var(--text-color);
  font-size: 2.2vh;
  font-weight: 600;
  cursor: pointer;
}

.homePrivate-header  .header-content .header-links a svg {
  padding-top: 5px;
}

.homePrivate-header .header-content .header-links a button:hover {
  transition: 0.2s;
  background: var(--primary-dark-color);
}

.homePrivate-header .header-content .header-links a svg:hover {
  transition: 0.2s;
  filter: opacity(80%);
}

@media (max-width: 900px) {
  .homePrivate-header .header-content img{
    width: 200px;
  }

  .homePrivate-header  .header-content .header-links a button {
    height: 6vh;
    width: 29vw;
    background: var(--primary-color);
    border: none;
    border-radius: 1vw;

    color: var(--text-color);
    font-size: 2.2vh;
    font-weight: 600;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .homePrivate-header  .header-content .header-links a button {
    background: var(--primary-color);
    border: none;
    border-radius: 1vw;

    color: var(--text-color);
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
  }
}

@media (max-width: 462px) {
  .homePrivate-header .header-content img{
    width: 200px;
    margin-right: 15px;
  }

  .homePrivate-header  .header-content .header-links a button {
    display: none;
  }
}