#homePublic-page {

}
  
#homePublic-page .homePublic-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homePublic-page .homePublic-content .homePublic-header {
  width: 100%;
  top: 15px;
  margin-bottom: 2vh;
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#homePublic-page .homePublic-content .header-line {
  width: 100%;
  position: absolute;
  top: 75px;
}

#homePublic-page .homePublic-content .homePublic-header .header-content {
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homePublic-page .homePublic-content .homePublic-header .header-content img{
  height: 4vh;
}

#homePublic-page .homePublic-content .homePublic-header .header-content .header-links {
  height: 100%;
  width: 20vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homePublic-page .homePublic-content .homePublic-header  .header-content .header-links a button {
  width: 15vw;
  height: 7vh;
  background: var(--primary-color);
  border: none;
  border-radius: 1vw;

  color: var(--text-color);
  font-size: 2.2vh;
  font-weight: 600;
  cursor: pointer;
}

#homePublic-page .homePublic-content .homePublic-header  .header-content .header-links a svg {
  padding-top: 5px;
}

#homePublic-page .homePublic-content .homePublic-header .header-content .header-links a:hover {
  transition: 0.2s;
  opacity: 70%;
}

#homePublic-page .homePublic-content .homePublic-section1 {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}

#homePublic-page .homePublic-content .homePublic-section1 .section1-content {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#homePublic-page .homePublic-content .homePublic-section1 img {
  width: 36vw;
}

#homePublic-page .homePublic-content .homePublic-section1 .section1-info {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homePublic-page .homePublic-content .homePublic-section1 .section1-info .section1-info-top .section1-date {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: end;
}

#homePublic-page .homePublic-content .homePublic-section1 .section1-info .section1-info-top .section1-method {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  text-align: end;
}

#homePublic-page .homePublic-content .homePublic-section1 .section1-info .section1-info-bottom .section1-title {
  margin-bottom: 15px;

  color: var(--text-color);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: end;
}

#homePublic-page .homePublic-content .homePublic-section1 .section1-info .section1-info-bottom .section1-description {
  color: var(--text-color);
  font-size: 21px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

#homePublic-page .homePublic-content .homePublic-section2 {
  width: 100%;
  height: 500px;
  margin-top: 178px;
  background: var(--secondary-color);

  display: flex;
  justify-content: center;
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content .themesTitle {
  margin-bottom: 50px;
  width: 9vw;
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content .section2-cards {
  width: 85%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content .section2-cards .section2-card {
  width: 18vw;
  height: 44vh;
  border: 4px solid var(--text-color);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content .section2-cards .section2-card:hover {
  transform: translateY(1px);
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content .section2-cards .section2-card .section2-card-image {
  width: 9vw;
}

#homePublic-page .homePublic-content .homePublic-section2 .section2-content .section2-cards .section2-card .section2-card-title {
  margin-top: 5vh;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

#homePublic-page .homePublic-content .homePublic-section3 {
  width: 100%;

  display: flex;
  justify-content: center;
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content {
  width: 100%;
  margin-bottom: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content .section3-title {
  margin-top: 5vh;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content .section3-timeline {
  position: relative;
  width: 85%;
  margin-top: 70px;

  display: flex;
  align-items: center;
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content .section3-timeline .section3-timeline-line {
  position: absolute;
  width: 15%;
  height: 20px;
  margin-left: 5px;
  background: rgba(21, 171, 137, 0.5);
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content .section3-timeline .section3-timeline-dots {
  width: 100%;
  position: absolute;
  
  display: flex;
  justify-content: space-between;
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content .section3-timeline .section3-timeline-dots .section3-timeline-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f4f4f4;
}

#homePublic-page .homePublic-content .homePublic-section3 .section3-content .section3-timeline .section3-line {
  width: 100%;
  border: 0;
  border-bottom: 5px dashed #f4f4f4;
}