.spotlight {
  height: 90vh;
}

.spotlight .spotlight-main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 5vw;

  background: linear-gradient(0deg, #020E17 7.32%, rgba(0, 0, 0, 0) 52.75%), linear-gradient(90deg, rgba(0, 0, 0, 0.85) 16%, rgba(0, 0, 0, 0) 71.58%);
}

.spotlight .spotlight-main .spotlight-info {
  margin-top: 10vh;
}

.spotlight .spotlight-main .spotlight-info .spotlight-title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-color);
}

.spotlight .spotlight-main .spotlight-info .spotlight-description {
  width: 30vw;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text-color);
}

.spotlight .spotlight-info .spotlight-button {
  width: 11vw;
  background-color: var(--text-color);
  padding: 10px 20px;
  margin-top: 2vh;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.spotlight .spotlight-info .spotlight-button:hover {
  filter: opacity(80%);
}

.spotlight .spotlight-info .spotlight-button p {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--background-color);
}

.spotlight .spotlight-main .spotlight-title .title {
  font-weight: 600;
  font-size: 2.3rem;
  color: var(--text-color);
}

.spotlight .spotlight-main .spotlight-title .description {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--text-color);
}