#updateProfile-page {
  width: 100%;
  height: 100vh;
}

#updateProfile-page .updateProfile-content {
  width: 100%;
  display: flex;
  gap: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#updateProfile-page .updateProfile-content .updateProfile-header {
  margin-top: 5vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#updateProfile-page .updateProfile-content .updateProfile-header .register-backButton:hover {
  transition: 0.2s;
  cursor: pointer;
  filter: opacity(70%);
}

#updateProfile-page .updateProfile-content .updateProfile-header .register-text {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
  width: 40%;

  display: flex;
  align-items: center;
}

#updateProfile-page .updateProfile-content .updateProfile-form {
  width: 50%;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .dropzone-content {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .registerForm-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .registerForm-field span {
  margin: 0 0 5px 10px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .registerForm-field input, textarea {
  width: 100%;
  margin-bottom: 10px;
  background: var(--quarternary-color);
  font-family: 'Poppins';
  border-radius: 10px;
  border: 0;
  padding: 12px 14px;
  font-size: 16px;
  color: #2e2e2e;
  resize: none;
  outline: 0;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .form-submitButton{
  margin: 5vh 0;
  display: flex;
  justify-content: flex-end;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .form-submitButton button{
  width: 45%;
  height: 60px;
  padding: 10px 12px;
  border-radius: 20px;
  border: 0; 
  background-color: var(--foreground-color);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#updateProfile-page .updateProfile-content .updateProfile-form form .form-submitButton button:hover{
  cursor: pointer;
  filter: opacity(70%);
}


@media (max-width: 600px) {
  #updateProfile-page .updateProfile-content .updateProfile-header{
      width: 90%;
  }

  #updateProfile-page .updateProfile-content .updateProfile-header .register-text {
    width: 90%;
  }

  #updateProfile-page .updateProfile-content .updateProfile-form{
      width: 80%;
  }

  #updateProfile-page .updateProfile-content .updateProfile-form form .form-submitButton a{
      width: 100%;
  }

  #updateProfile-page .updateProfile-content .updateProfile-form form .form-submitButton input{
      width: 100%;
  }

  #updateProfile-page .updateProfile-content .updateProfile-form .updateProfile-Footer p{
      text-align: center;
  }

  #updateProfile-page .updateProfile-content .updateProfile-form .updateProfile-Footer p > a:hover{
      opacity: none;
  }
}