:root {
    --primary-color: #15AB89;
    --primary-dark-color: #0C7960;
    --secondary-color: #76D9B9;
    --tertiary-color: #2FDF84;
    --quarternary-color: #E4E4E4;
    --quintenary-color: #07F9A2;
    --text-color: #f4f4f4;
    --background-color: #020E17;
    --foreground-color: #343434;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--background-color);
    -webkit-font-smoothing: antialiased;
  }

  body, input, button {
    font-family: 'Poppins', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }

  .waves {
    width: 100%;
  }

  a {
    outline: none;
    text-decoration: none;
  }
