.user-rankList-container {
  width: 100%;

  display: flex;
  justify-content: center;
}

.user-rankList-container .user-rankList-content {
  width: 65%;
  height: 600px;
  background: var(--foreground-color);
  border-radius: 15px;
  padding: 25px 25px;
  min-height: 349px;
  margin: 0 0 5vh 0;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-rankList-container .user-rankList-content .user-rankList-users {
  width: 90%;
  height: 15vh;
  margin: 10px 0;
  border-bottom: 1px solid var(--text-color);
  

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo {
  height: 85px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo p {
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.1rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo b {
  font-weight: 600;
  color: var(--tertiary-color);
  font-size: 1.09rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-points {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-points b {
  font-weight: 600;
  color: var(--tertiary-color);
  font-size: 1.09rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-points p {
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.1rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal {
  width: 95%;
  height: 15vh;
  margin: 10px 0;
  padding: 0 15px;
  border-radius: 15px;
  background: var(--tertiary-color);
  border-bottom: 1px solid var(--text-color);
  

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-usersInfo-equal {
  height: 85px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-usersInfo-equal img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-usersInfo-equal b {
  font-weight: 600;
  color: var(--quarternary-color);
  font-size: 1.09rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-usersInfo-equal p {
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.1rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-points-equal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-points-equal b {
  font-weight: 600;
  color: var(--quarternary-color);
  font-size: 1.09rem;
}

.user-rankList-container .user-rankList-content .user-rankList-users-equal .user-rankList-points-equal p {
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .user-rankList-container .user-rankList-content {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .user-rankList-container .user-rankList-content {
    width: 95%;
  }


  .user-rankList-container .user-rankList-content .user-rankList-users {
    width: 100%;
    height: 15vh;
    margin: 2vh 0;
    
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
  }

  .user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo {
    width: 100%;
    height: 70px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo .user-rank-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo p {
    font-size: 1rem;
  }
  
  .user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-usersInfo b {
    font-size: 1rem;
  }

  .user-rankList-container .user-rankList-content .user-rankList-users .user-rankList-points {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }

  .user-rankList-container .user-rankList-content .user-rankList-users-equal {
    width: 110%;
  }
}

